.SearchBar {
  background-color: #FFE600;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SearchBar-container {
  width: 80%;
  height: 30px;
  display: flex;
  box-sizing: border-box;
}
.SearchBar-container-logo {
  background-image: url("images/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 30px;
}
.SearchBar-container-form {
  display: flex;
  align-items: center;
}
.SearchBar-container-form-input {
  width: 100%;
  border: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding-left: 15px;
  font-size: 0.8em;
  outline: none;
}
.SearchBar-container-form-button {
  width: 30px;
  height: 30px;
  padding: 0px;
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
}
.SearchBar-container-form-button-logo {
  background-image: url("images/search.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 15px;
}
.searchBar > div > form,
.searchBar > div > form > input {
  height: 100%;
  box-sizing: border-box;
}
.searchBar > div > form {
  width: 100%;
  margin-left: 20px;
}
